################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/EFFramework/bin
/EFFramework/obj
/MvcApp/bin
/MvcApp/obj
/Service/bin
/Service/obj
/T4/bin
/T4/obj
/UnitOfWork/bin
/UnitOfWork/obj
/Models/obj
/Models/bin
/WebApi/bin
/WebApi/obj
