################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/EFFramework/bin/Debug
/MvcApp/bin
/Service/bin/Debug
/Service/obj/Debug
/T4/bin/Debug
/T4/obj/Debug
/UnitOfWork/bin/Debug
/UnitOfWork/obj/Debug
